@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*--background: 206 24% 17%;*/
    /*--foreground: 226 39% 81%;*/
    /*--system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/

    --background: 208 25% 20%;
    --foreground: 226 39% 81%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 207 23% 23%;
    --card-foreground: 226 39% 81%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    /*--primary: 222.2 47.4% 11.2%;*/
    /*--primary-foreground: 210 40% 98%;*/
    --primary: 209 28% 15%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 46 100% 39%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --accent-2: 209 28% 15%;
    --accent-2-foreground: 0 0% 100%;

    --accent-3: 108 100% 41%;
    --accent-3-foreground: 0 0% 100%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --conversation-sender: 174 100% 16%;
    --conversation-sender-foreground: 228 66% 84%;

    --conversation-receiver: 200 100% 14%;
    --conversation-receiver-foreground: 228 66% 84%;

    --ring: 215 20.2% 65.1%;

    --night: 200 11% 11%;

    --option-1: 100 100% 37%;
    --option-2: 38 100% 31%;
    --option-3: 214 86% 52%;
    --option-4: 0 0% 100%;
    --option-5: 54 92% 41%;
    --option-6: 227 22% 64%;
    --option-7: 0 100% 50%;
    --option-8: 52 100% 79%;
    --option-9: 44 100% 50%;
    --option-10: 46 100% 38%;
    --option-11: 228 66% 84%;
    --option-12: 204 19% 28%;
    --option-13: 200 7% 8%;
    --option-14: 0 95% 44%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .accent-title {
    @apply font-bold text-sm tracking-widest font-jost text-accent uppercase;
  }

  #react-root {
    @apply flex flex-col;
  }
}

@font-face {
  src: url("./fonts/Jost-VariableFont_wght.ttf");
  font-family: Jost;
}

@font-face {
  src: url("./fonts/Rancho-Regular.ttf");
  font-family: Rancho;
}

@font-face {
  src: url("./fonts/Amiri-Regular.ttf");
  font-family: Amiri;
}

@font-face {
  src: url("./fonts/Inkfree.ttf");
  font-family: InkFree;
}

@font-face {
  src: url("./fonts/Segoe UI.ttf");
  font-family: Segoe UI;
}

@font-face {
  src: url("./fonts/Segoe UI Bold.ttf");
  font-family: Segoe UI Bold;
}

.loader-wrapper {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 178px;
  height: 178px;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, yellowgreen, #5ad1cd);
  animation: animate 1.2s linear infinite;
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, yellowgreen, #5ad1cd);
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(25px);
}

.loader span:nth-child(4) {
  filter: blur(50px);
}

.loader:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #2C3B47;
  border: solid white 9px;
  border-radius: 50%;
}

.aiLogo {
  position: absolute;
  margin-left: -12px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #394853;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 4px;
}
